* {
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
 
 }
 .tools-container{
 
 height: 100px;
 
 background: aquamarine;
 }
 
 .drawing-container{
 
 
 }
 #canvas{
 
 background-color: aqua;
 }