* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.header {
    height: 100px;
    background-color: #2d3436;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tickets-filter {
    height: 70%;
    width: 40%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #00cec9;
}

.filter {
    height: 50%;
    width: 20%;
    margin: 10px;
    opacity: 0.8;
    border-radius: 10px;
}

.filter:hover {
    opacity: 1;
}

.red {
    background-color: #eb2f06;
}

.blue {
    background-color: #0984e3;
}

.green {
    background-color: #2ecc71;
}

.yellow {
    background-color: #f1c40f;
}

.black {
    background-color: #1e272e;
}

.tickets-actions {
    display: flex;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    background-color: #d2dae2;
    height: 60%;
    width: 20%;
    border-radius: 10px;
}

.tickets-actions div {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.tickets-actions div:hover {
    background-color: #2ecc71;
}

.tickets-actions i {
    font-size: 20px;
    color: #ff3f34;
}

.ticket-container {
    height: calc( 100vh - 80px );
}

.ticket-modal {
    display: flex;
    position: absolute;
    top: 50%;
    left: 25%;
    height: 300px;
    width: 400px;
    border: 1px solid lightgray;
    left: calc( 50vw - 200px );
}

.ticket-text {
    width: 70%;
    background-color: beige;
    outline: none;
    overflow: auto;
    padding: 15px;
    font-size: 25px;
}

.ticket-filters {
    width: 30%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.ticket-filter {
    height: 10%;
    width: 61%;
}
