* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.header {
    height: 100px;
    background-color: #2d3436;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tickets-filter {
    height: 70%;
    width: 40%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #00cec9;
}

.filter {
    height: 50%;
    width: 20%;
    margin: 10px;
    opacity: 0.8;
    border-radius: 10px;
}

.filter:hover {
    opacity: 1;
}

.red {
    background-color: #9c6666;
}

.blue {
    background-color: #0984e3;
}

.green {
    background-color: #2ecc71;
}

.yellow {
    background-color: #f1c40f;
}

.black {
    background-color: #1e272e;
}

.tickets-actions {
    display: flex;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    background-color: #d2dae2;
    height: 60%;
    width: 20%;
    border-radius: 10px;
}

.tickets-actions div {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.tickets-actions div:hover {
    background-color: #2ecc71;
}

.tickets-actions i {
    font-size: 20px;
    color: #ff3f34;
}

.ticket-container {
    height: calc( 100vh - 80px );
}
